.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-card {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 400px;
  margin: 100px auto;
  background-color: brown;
}

.icons {
  height: 40px;
}

.sedan-card {
  display: flex;
  flex-direction: row;
}
