.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-card {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 400px;
  margin: 100px auto;
  background-color: brown;
}

.icons {
  height: 40px;
  object-fit: cover;
}

.sedan-card {
    background-color: hsl(31, 77%, 52%);
}

.suv-card {
    background-color: hsl(184, 100%, 22%);
}

.luxury-card {
    background-color: hsl(179, 100%, 13%);
}
